.facet-item {
  border: 2px solid #c4c4c4;
  padding: 10px 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datasets-total {
  float: left;
}

.menu {
  margin: .75rem auto;
  text-align: left;
}

.material-icons {
  vertical-align: middle;
}
